
module gitea 1.0;

require {
    type mysqld_port_t;
    type user_home_t;
    type tmp_t;
    type init_t;
    class tcp_socket name_connect;
    class dir { create rename reparent rmdir };
    class file { append create execute execute_no_trans lock open read setattr unlink write };
}

#============= init_t ==============

allow init_t mysqld_port_t:tcp_socket name_connect;
allow init_t tmp_t:file unlink;
allow init_t user_home_t:dir { create rename reparent rmdir };
allow init_t user_home_t:file { append create execute execute_no_trans lock open read setattr unlink write };
